arch==7.0.0
beautifulsoup4==4.12.3
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
fonttools==4.53.1
frozendict==2.4.4
html5lib==1.1
idna==3.7
inflection==0.5.1
joblib==1.4.2
kaleido==0.2.1
kiwisolver==1.4.5
lxml==5.3.0
matplotlib==3.9.2
mizani==0.11.4
more-itertools==10.4.0
multitasking==0.0.11
numpy==2.1.0
packaging==24.1
pandas==2.2.2
pandas-datareader==0.10.0
patsy==0.5.6
peewee==3.17.6
pillow==10.4.0
platformdirs==4.2.2
plotly==5.23.0
plotnine==0.13.6
pyarrow==17.0.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
Quandl==3.7.0
requests==2.32.3
risktools @ git+https://github.com/bbcho/risktools-dev.git@5697a0efb2a8ac27626dafeabcfbdcf7db410bf7
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
six==1.16.0
soupsieve==2.6
statsmodels==0.14.2
tenacity==9.0.0
threadpoolctl==3.5.0
tzdata==2024.1
urllib3==2.2.2
webencodings==0.5.1
yfinance==0.2.41
